//.spectator-card-enter {
//  opacity: 0;
//  transform: scale(0.9);
//}
//
//.spectator-card-enter-active {
//  opacity: 1;
//  transform: translateX(0);
//  transition: opacity 300ms, transform 300ms;
//}
//
//.spectator-card-exit {
//  opacity: 1;
//}
//
//.spectator-card-exit-active {
//  opacity: 0;
//  transform: scale(0.9);
//  transition: opacity 300ms, transform 300ms;
//}

.spectator-card-slide {
  position: relative;
}

.spectator-card-slide-enter {
  position: relative;
  left: -1000px;
}

.spectator-card-slide-enter-active {
  position: relative;
  transition: 800ms;
  left: 0;
}

.spectator-card-slide-exit {
  position: relative;
  left: 0;
}

.spectator-card-slide-exit-active {
  display: none;
}

//.spectator-card {
//  @apply hidden;
//  @screen md {
//    @apply bg-white text-black text-base self-center shadow-xl my-3 h-12 col-start-3 col-span-2 flex;
//  }
//}
//
//.white-card-spectator-card {
//  @apply bg-white text-black text-base shadow-xl my-3 h-12 self-end;
//  @screen md {
//    @apply hidden;
//  }
//}

@keyframes slide-from-left {
  0% {
    margin-left: 228px;
    width: 0px;
  }
  1% {
    margin-left: 0px;
    width: 100%;
  }
  10% {
    transform: rotate(-5deg);
    transform-origin: bottom left;
  }
  20% {
    transform: rotate(10deg);
    transform-origin: bottom right;
  }
  30% {
    transform: rotate(-20deg);
    transform-origin: bottom left;
  }
  40% {
    transform: rotate(360deg);
    transform-origin: bottom right;
  }
  60% {
    transform: rotate(360deg);
    margin-left: 0px;
    width: 100%;
  }
  100% {
    transform: rotate(360deg);
    margin-left: 228px;
    width: 0%;
  }
}

.spectator-card-animation {
  overflow: hidden;
  animation-timing-function: ease-in;
  //animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-name: slide-from-left;
  animation-duration: 8s;
}

@keyframes just-slide-from-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.spectator-card-animation-slide-in {
  overflow: hidden;
  animation-timing-function: ease-in;
  //animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-name: just-slide-from-left;
  animation-duration: 1s;
}

@keyframes just-slide-from-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.spectator-card-animation-slide-out {
  overflow: hidden;
  animation-timing-function: ease-in;
  //animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-name: just-slide-from-right;
  animation-duration: 1s;
}
